<div class="order_container hover">
                        <div class="order_number"><p>購入日：<%= l address_id.created_at, format: :for_result %></p></div>
                        <div calss="cart_area" style="width: 70%;">
                            <% orders = Order.where(address_id: address_id.id) %>
                            <% orders.each do |order|%>
                                <% product = Product.find_by(id: order.product_id) %>
                                <div class="card mb-3" style="max-width: 840px; margin-bottom:3rem;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <% images= Image.find_by(product_id: order.product_id) %>
                                            <%= image_tag "#{images.name1}", alt: "#{Product.find_by(id: order.product_id).name}", class:"card-img" %>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                            <h5 class="card-title"><%= product.name %></h5>
                                            <div class="card-text">
                                                <p class="text-muted" style="font-size: 2rem;"><%= product.price %><span style="font-size: 1.5rem"> 円/個</span></p>
                                                <div class="count">
                                                    <p class="text-muted"><%= order.quantity%>個</p>
                                                    <p class="text-muted">小計：<%= product.price * order.quantity %> 円</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>