<% provide(:title, "Edit User") %>
<section class="signup">
    <div class="signup_container">
        <h1>Update your profile</h1>
        <div class="form_area">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :tel %>
            <%= f.text_field :tel, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "Save changes", class:"signup_btn" %>
        <% end %>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div>
    </div>
</section>