<% provide(:title, "購入手続き") %>
<section class="buy">
    <div class="buy_container">
        <div class="buy_area">
            <div class="left">
                <div class="main_area">
                    <div class="address_container">
                        <div class="address_header"><h2>1.お届け先情報</h2></div>
                        <div class="address_area">
                            <%= form_for(:session, url: addresses_path) do |f|%>
                            <div class="select">
                                <div class="store">
                                    <%= f.check_box :store, class: 'btn_store' %>
                                    <%= f.label :store, "店頭での受け取り" %>
                                </div>
                            </div>
                            <div class="user_name">
                                <div class="flex_box1">
                                    <p><%= f.label :last_name, "姓" %></p>
                                    <%= f.text_field :last_name, required:"required" %>
                                </div>
                                <div class="flex_box2">
                                    <p><%= f.label :first_name, "名" %></p>
                                    <%= f.text_field :first_name, required:"required" %>
                                </div>
                            </div>
                            <div class="user_furi_name">
                                <div class="flex_box1">
                                    <p><%= f.label :furi_last_name, "フリガナ（姓）" %></p>
                                    <%= f.text_field :furi_last_name, required:"required" %>
                                </div>
                                <div class="flex_box2">
                                    <p><%= f.label :furi_first_name, "フリガナ（名）" %></p>
                                    <%= f.text_field :furi_first_name, required:"required" %>
                                </div>
                            </div>
                            <p><%= f.label :postal_code, "郵便番号" %></p>
                            <%= f.text_field :postal_code, class: 'address_controle', onKeyUp:"AjaxZip3.zip2addr(this,'','session[prefecture]','session[address]');", required:"required" %>
                            <div class="prefecture">
                                <div class="flex_box1">
                                    <p><%= f.label :prefecture, "都道府県" %></p>
                                    <%= f.text_field :prefecture, class: 'address_controle', name: "session[prefecture]", required:"required" %>
                                </div>
                                <div class="flex_box2">
                                    <p><%= f.label :address, "住所（マンション名も含む）" %></p>
                                    <%= f.text_field :address, class: 'address_controle', name: "session[address]", required:"required" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cash_container">
                        <div class="cash_header"><h2>2.お支払い方法</h2></div>
                        <div class="cash_area">
                            <div class="how_to_pay">
                                <label class="radio1">
                                    <%= f.radio_button :how_to_pay, "銀行振り込み", class:"radio1-1", required:"required" %>銀行振り込み
                                </label>
                                <label  class="radio2">
                                    <%= f.radio_button :how_to_pay, "店頭払い", class:"radio2-1", required:"required" %>店頭払い
                                </label>
                            </div>
                        </div>
                    </div>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <p><%= f.submit "最終確認へ", class: 'btn' %></p>
                    <% end %>
                </div>
            </div>
            <div class="right">
                <div class="cart_area">
                    <% @sum = 0 %>
                    <%= link_to cart_item_path(current_user) do%>
                    <% @cart_items.each do |cart_item|%>
                    <% product = Product.find_by(id: cart_item.product_id) %>
                    <div class="card mb-3 hover" style="max-width: 840px; margin-top: 3rem;">
                        <div class="row no-gutters">
                        <div class="col-md-4">
                            <% images= Image.find_by(product_id: cart_item.product_id) %>
                            <%= image_tag "#{images.name1}", alt: "#{Product.find_by(id: cart_item.product_id).name}", class:"card-img" %>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title"><%= product.name %></h5>
                            <p class="card-text"></p>
                            <p class="card-text">
                                <p class="text-muted" style="font-size: 2rem;"><%= product.price %><span style="font-size: 1.5rem"> 円/個</span></p>
                                <small class="text-muted"><%= cart_item.quantity%>個</small>
                                <p style="margin-top:2rem;">小計：<%= product.price * cart_item.quantity %> 円</p>
                                <% @sum += product.price * cart_item.quantity %>
                            </p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                </div>
                <div class="accounting_area">
                    <div class="accounting_title">
                        <div class="title"><h3>ご注文金額</h3></div>
                        <div class="total_title">
                            <div class="accounting_total"><p>合計（税込み）</p></div>
                            <div class="accounting_count"><p class="right">¥<%= @sum %></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

$(function() {
    $(".btn_store").change(function() {
        var prop = $('.address_controle').prop('disabled');
        if (prop) {
            $('.address_controle').prop('disabled', false);
            $('.address_controle').prop('required', true);
        } else {
            $('.address_controle').prop('disabled', true);
            $('.address_controle').prop('required', false);
        }
    });
});
</script>