<div class="category_content">
    <ul>
        <li><%= link_to "ランニングシューズ", products_path(category: "running_shoes") %></li>
        <li><%= link_to "ライフスタイル", products_path(category: "life_style") %></li>
        <li><%= link_to "ソックス", products_path(category: "socks")%></li>
        <li><%= link_to "アクセサリー", products_path(category: "accessary") %></li>
        <li><%= link_to "サプリメント", products_path(category: "supplement") %></li>
    </ul>
</div>