<% provide(:title, "Edit") %>
<section class="resister">
    <div class="resister_container">
        <h1> 商品編集</h1>
        <div class="resister_area">
            <%= form_for(@product_resister) do |f| %>

                <%= f.label :name %>
                <%= f.text_field :name, class: 'resister_controle' %>

                <%= f.label :price %>
                <%= f.text_field :price, class: 'resister_controle' %>

                <%= f.label :comment %>
                <%= f.text_field :comment, class: 'resister_controle' %>

                <p><%= f.label :category %></p>
                <%= f.select :category, [
                    ["野菜", "vegetables"],
                    ["フルーツ", "fruits"],
                    ["飲み物", "drink"],
                    ["食べ物", "food"]
                    ], class: 'category_class' %>

                <%= f.fields_for :sizes do |s| %>
                    <p><%= s.label :count, "個数"%></p>
                    <%= s.select :count, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]%>
                <% end %>

                <p class="image_name">Image</p>
                <%= f.fields_for :images do |i| %>
                    <%= i.label :name1, "トップ画像" %>
                    <%= i.file_field :name1 %>

                    <%= i.label :name2, "画像2" %>
                    <%= i.file_field :name2 %>

                    <%= i.label :name3, "画像3" %>
                    <%= i.file_field :name3 %>

                    <%= i.label :name4, "画像4" %>
                    <%= i.file_field :name4 %>
                <% end %>


                <%= f.submit "Change", class:"btn resister_btn" %>
            <% end %>
        </div>
    </div>
</section>