<% provide(:title, "Resister") %>
<section class="resister">
    <div class="resister_container">
        <h1> 商品登録</h1>
        <div class="resister_area">
        <%= form_for(@product_resister) do |f| %>
            <%= render 'shared/error_messages_for_products' %>
            <p><%= f.label :name, "商品名" %></p>
            <%= f.text_field :name, class: 'resister_controle' %>

            <p><%= f.label :price, "価格" %></p>
            <%= f.text_field :price, class: 'resister_controle' %>

            <p><%= f.label :comment, "商品説明" %></p>
            <%= f.text_field :comment, class: 'resister_controle' %>

            <p><%= f.label :category, "カテゴリー" %></p>
            <%= f.select :category, [
                ["野菜", "vegetables"],
                ["フルーツ", "fruits"],
                ["飲み物", "drink"],
                ["食べ物", "food"]
                ], class: 'category_class' %>

            <p><%= f.label :count, "個数"%></p>
            <%= f.select :count, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30], {include_blank: 0}%>

            <p class="image_name">画像</p>
            <%= f.fields_for :images do |i| %>
                <%= i.label :name1, "トップ画像（必須）" %>
                <%= i.file_field :name1 %>

                <%= i.label :name2, "画像2" %>
                <%= i.file_field :name2 %>

                <%= i.label :name3, "画像3" %>
                <%= i.file_field :name3 %>

                <%= i.label :name4, "画像4" %>
                <%= i.file_field :name4 %>
            <% end %>


            <%= f.submit "商品登録", class:"btn resister_btn" %>
        <% end %>
        </div>
    </div>
</section>
<script>
$(function() {
    $('#product_category').on('change',function(){
        $('#product_sizes_attributes_0_size').prop('disabled',$.inArray($(this).val(),["accessory","supplement"])>=0);
    }).trigger('change');
});
</script>