<% provide(:title, "") %>
<section class="deatil">
    <div class="detail_container">
        <div class="detail_area">
            <div class="left_image">
            <% @product_images.each do |image| %>
                <%= image_tag "#{image.name1}", alt: "#{@product.name}", class:"image" %>
                <% if image.name2? %>
                    <%= image_tag "#{image.name2}", alt: "#{@product.name}", class:"image" %>
                <% end %>
                <% if image.name3? %>
                    <%= image_tag "#{image.name3}", alt: "#{@product.name}", class:"image" %>
                <% end %>
                <% if image.name4? %>
                    <%= image_tag "#{image.name4}", alt: "#{@product.name}", class:"image" %>
                <% end %>
            <% end %>
            </div>
            <div class="right_explanation">
                <div class="product_detail_area">
                    <div class="product_detail">
                        <h2><%= @product.name %></h2>
                        <p class="price">¥<%= @product.price %>(税込)</p>
                        <p class="detail_sentence"><%= @product.comment %></p>
                    </div>
                    <div class="cart">
                        <% if @product_count == 0%>
                            <p class="no_exist">大変申し訳ございません。こちらの商品は現在、在庫がありません。</p>
                        <% else %>
                            <%= form_for(CartItem.new, url: cart_items_path) do |f|%>
                            <%= f.label :quantity, "数量"%>
                            <p><%= f.select :quantity, @count, include_blank: "0" %></p>
                            <%= f.hidden_field :product_id, value: @product.id %>
                            <%= f.submit "カートに追加", class:"btn cart_btn" %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>